<section class="upload">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-12">
          <form class="form" [formGroup]="settingsForm">
            <div class="form-group">
              <label form="#name"> <span class="label">Name</span>
              </label>
              <input type="text" id="name" formControlName="name"/>
            </div>
            <div class="form-group">
              <label form="#email"> <span class="label">Email</span>
              </label>
              <input type="text" id="email" formControlName="email"/>
            </div>
            <div class="form-group">
              <label form="#website"> <span class="label">Website</span>
              </label>
              <input type="text" id="website" formControlName="website"/>
            </div>
            <div class="form-group">
              <label form="#bio"> <span class="label">bio</span>
              </label>
              <textarea name="bio" cols="30" rows="10" id="bio" formControlName="bio"></textarea>
            </div>
            <input type="file" accept="image/*" capture="environment" #fileInput style="display: none">
          </form>
        </div>
        <div class="col-6 col-md-12"><img class="showcase-img" [src]="user.profile_pic_small" #img/></div>
        <div class="col-12">
            <div class="upload-placeholder">
              <div class="message" *ngIf="uploadFileError">{{ uploadFileError }}</div>
              <div class="box" (click)="boxClicked()" #dropBox>
                <h1><i class="fas fa-cloud-upload-alt"></i> Upload Your Photo</h1>
              </div>
            </div>
          </div>
          <div class="col-12" [style.display]="uploading ? 'block' : 'none'">
            <div class="progress">
              <div class="progress-bar" #bar></div>
            </div>
          </div>
        <div class="col-12">
          <button type="submit" (click)="updateSettings()">Upload</button>
        </div>
      </div>
    </div>
  </section>