.grid {
  @extend .container;
  display: flex;
  margin-top: 50px;
  @include sm {
    padding: 0px 15px;
  }
}

.grid-col {
  flex-grow: 1;
  margin-right: 15px;
}

/* hide two middle */
.grid-col--2,
.grid-col--3 {
  display: none;
}

.grid-col--2 {
  @include mdr {
    display: block;
  }
} /* show column 2 */

@media (min-width: 1200px) {
  .grid-col--3 {
    display: block;
  }
}


.grid-item {
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  & > img {
    width: 100%;
    height: auto;
    border-radius: 10px !important;
    cursor: pointer;
  }

  .card-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 10px 10px 10px;
    background-image: linear-gradient(to top, color("black"), transparentize(color("black"), 1));
    display: none;
    .user-info{
      display: flex;
      align-items: center;
      img{
        $size: 50px;
        width: $size;
        height: $size;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 10px;
      }

      a{
        text-decoration: none;
        font-size: 18px;
        color: color('white');
        font-weight: bolder;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .download-btn{
      cursor: pointer;
    }
    i{
      font-size: 20px;
      color: color('white');
    }

  }

  &:hover{
    .card-info{
      display: flex;
    }
  }

}
