<div class="container">
    <div class="row">
      <div class="col-8 col-md-12 mx-auto">
        <form class="form shadow-form" [formGroup]="registerForm" (ngSubmit)="register()" style="margin-top: 100px;">
          <div class="form-group">
            <label form="#email">
               <span class="label">Email</span>
               <small class="error" *ngIf="emailIsUsed">This email is already used</small>
            </label>
            <input  
              type="email" 
              id="email" 
              formControlName="email"
              [class.invalid]="emailIsUsed"/>
          </div>
          <div class="form-group">
            <label form="#name"> <span class="label">Name</span>
            </label>
            <input type="text" placeholder="" id="name" formControlName="name"/>
          </div>
          <div class="form-group">
            <label form="#password"> <span class="label">Password</span>
            </label>
            <input type="password" placeholder="" id="password" formControlName="password"/>
          </div>
          <div class="form-group">
            <label form="#confirm_password"> <span class="label">Confirm Password</span>
            </label>
            <input type="password" placeholder="" id="confirm_password" formControlName="password_confirmation"/>
          </div>
          <div class="form-footer">
            <button class="submit-btn" type="submit" [disabled]="!registerForm.valid || !checkPassword() || loading">
              <span *ngIf="!loading">Register</span>
              <span *ngIf="loading">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </span>
            </button>
            <span class="message">
              have an account? <a routerLink="/login">Login</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>