<div class="container">
    <div class="row">
      <div class="col-8 col-md-12 mx-auto">
        <form class="form shadow-form">
          <div class="form-group">
            <label form="#email"> <span class="label">Email</span><small class="error">Email is already used</small>
            </label>
            <input class="invalid" type="email" placeholder="" id="email"/>
          </div>
          <div class="form-group">
            <label form="#Name"> <span class="label">Name</span>
            </label>
            <input class="valid" type="text" placeholder="" id="Name"/>
          </div>
          <div class="form-group">
            <label form="#password"> <span class="label">Password</span>
            </label>
            <input type="password" placeholder="" id="password"/>
          </div>
          <div class="form-group">
            <label form="#confirm_password"> <span class="label">Confirm Password</span>
            </label>
            <input type="password" placeholder="" id="confirm_password"/>
          </div>
          <div class="form-footer">
            <button class="submit-btn" type="submit">Login</button><span class="message">have an account? <a href="/register.html">Login</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>