<div class="container">
  <div class="row">
    <div class="col-8 col-md-12 mx-auto">
      <form
        class="form shadow-form"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <div class="form-group">
          <label form="#email">
            <span class="label">Email</span>
            <small class="error" *ngIf="wrongInfo">Wrong email and password</small>
          </label>
          <input
            type="email"
            placeholder=""
            id="email"
            formControlName="email"
            [class.invalid]="wrongInfo"
          />
        </div>
        <div class="form-group">
          <label form="#password"> <span class="label">Password</span> </label>
          <input
            type="password"
            placeholder=""
            id="password"
            formControlName="password"
            [class.invalid]="wrongInfo"
          />
        </div>
        <div class="form-footer">
          <button class="submit-btn" type="submit" [disabled]="loginForm.invalid || loading">
            <span *ngIf="!loading">Login</span>
              <span *ngIf="loading">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </span>  
          </button
          ><span class="message"
            >Don't have an account? <a routerLink="/register">Register</a></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
