<div class="container">
  <div class="row">
    <div class="col-8 col-md-12 mx-auto">
      <form class="form shadow-form">
        <div class="form-group">
          <label form="#email"> <span class="label">Email</span> </label>
          <input type="email" placeholder="" id="email" />
        </div>
        <div class="form-group">
          <label form="#password"> <span class="label">Password</span> </label>
          <input type="password" placeholder="" id="password" />
        </div>
        <div class="form-footer">
          <button class="submit-btn" type="submit">Login</button
          ><span class="message"
            >Don't have an account? <a href="/register.html">Register</a></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
