<div class="grid" data-colcade="columns: .grid-col, items: .grid-item" #grid>
  <div class="grid-col grid-col--1"></div>
  <div class="grid-col grid-col--2"></div>
  <div class="grid-col grid-col--3"></div>
</div>
<app-image 
  class="grid-item img-card"
  *ngFor="let image of imagesArray; let i = index" 
  [image]="image"
  (loaded)="load($event)"></app-image>

<div *ngIf="searched && imagesArray.length == 0">
  <h1 style="text-align: center;">No Results</h1>
</div>

<!-- Bottom trigger -->
<div (appBottom)="loadNext()" style="min-height: 50px"></div>

<!-- Modal -->
<app-modal></app-modal>